td, th {
  padding: 4px 8px;
  vertical-align: middle;
}

th a, th a:link, th a:visited {
  text-decoration: none;
}

th a {
  display: block;
}

th a img {
  margin: 0 0 0 5px;
}

th.active {
  background: #DDD;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

/* Odd & Even Styles */
tr.even, tr.odd {
   background: none;
}

tr.even td {
  /*background: #F1F5FA;*/
  background: none;
}

tr.odd td {
  /*ackground: #fff;*/
  background:none;
}

td.active {
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

tr.even td.active {
  /*background: #e5e9ed;*/
}

tr.odd td.active {
  /*background: #f2f2f2;*/
}

tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
  /*background: #FFFEEE;*/
}

td ul.links {
  margin-bottom: 0;
}

td code {
	border-style:none;
	padding: 0;
	}


/* Beyond standard 960 */
@media only screen and (min-width: 960px)  and (max-width: 1220px){
    
    /* general stile */
 
    div.last{margin-right: 0 !important;}



    /* about page */
    ul#about-page-images li{width:220px;height:233px;}
    ul#about-page-images li img{width:220px;height:233px;}
   	div#quicktabs-about_our_school ul.quicktabs-tabs li{width:205px;}

}

#block-jump-menu-jump-menu-m-main-menu {
	display:none;
	}

@media only screen and (min-width: 768px) and (max-width: 959px) {

    /* header*/
    #header{padding-bottom: 15px;}

		/* front page slider */
		.view-front-slider .views-row .text{width:350px;}
		.view-front-slider .views-row.views-row-1 .text{left:30px;top:20px;}
		.view-front-slider .views-row.views-row-2 .text{right:40px;top:80px;}
		.view-front-slider .views-row.views-row-3 .text{left:50px;top:30px;}
		.view-front-slider .views-row.views-row-4 .text{right:40px;top:20px;}
		.view-front-slider .views-row h2{font-size:20px;}
		.view-front-slider .views-row .content-body{font-size:14px;line-height:20px;}  
    
    /* map */
    .map{
        width: 766px; 
        height: 400px;
    }
    
	 /* about page */
    ul#about-page-images li{width:172px;height:183px;}
    ul#about-page-images li img{width:172px;height:183px;}
   	div#quicktabs-about_our_school ul.quicktabs-tabs li{width:157px;}

}


/* Upwards of Mobile Landscape Size  */

@media only screen and (max-width: 767px) and (min-width: 480px){

    .wrapper, #footer, .footer-buttom, .one-two, .one-three,
    .one-four, #footer .one-three, .features div,
    .breadcrumbs, #page-nav, #page.alignleft,
    #page.alignright, #sidebar, #page .one-two,
    #page .one-three, #page .one-four, .newsletters div, .about-work div, .team div{width: 418px;} 
    
    .hide{display: block;}
    
    .width{width: 448px;}
    
		/* front page slider */
		.view-front-slider{display:none;}

		/* Yanlai Page */
		#yanlaiwu div.report.odd .summary{width:100%;}
		#yanlaiwu div.report.even .summary{width:100%;}

    #logo{float:left;}


    /* footer */
   
    #block-menu-menu-footer ul.menu{margin:10px auto;}
    #block-menu-menu-footer ul.menu li {width:200px;border-left:0;}
    #block-menu-menu-footer ul.menu li a {font-size:12px;margin:5px;text-transform:capitalize;}
    #block-menu-menu-footer ul.menu li a.active{color:#fff;}
	#block-menu-menu-footer ul.menu li.active-trail{background: none;color:#fff;}
	#block-menu-menu-footer ul.menu li.active-trai a{color:#fff;}	


    
    
    /* welcome */
    .welcome h1 {
        font-size: 24px;
        line-height: 24px;
    }
    
    /* google map */
    .map {
        width: 478px;
        height: 300px;
    }
            
    
    /* contact & comment form */
    #form-contact,
    .comments-form{width: 418px;}
    #form-contact .left,
    .comments-form .left{
        float: none;
        width: 408px;
        margin-right: 0;
    }
    #form-contact .left input,
    .comments-form .left input{width: 408px; }
    #form-contact textarea,
    .comments-form textarea{
        width: 408px !important;
        height: 140px !important;
    }
    
    
    /* video */
    .video iframe{width: 408px; height: 300px;} 
    
    
    /* portfolio */
    .views-quicksand-container div.views-row.views-quicksand-tri, .views-quicksand-container div.views-row.views-quicksand-dva,
    .portfolio3.no-sidebar, .portfolio2.no-sidebar{width: 438px !important;}
    .views-quicksand-container div.views-row.views-quicksand, 
    .views-quicksand-container div.views-row.views-quicksand-dva, 
    .views-quicksand-container div.views-row.views-quicksand-tri,
    .no-sidebar.portfolio1 li, 
    .no-sidebar.portfolio2 li,
    .no-sidebar.portfolio3 li{width: 416px !important;}
    
    /* about page */
    ul#about-page-images li{width:200px;height:210px;}
    ul#about-page-images li img{width:200px;height:210px;}
   	div#quicktabs-about_our_school ul.quicktabs-tabs li{width:419px;}
   	#block-views-our-teachers-block .views-field-field-teacher-image img{width:100px;height:100px;}
   	
   	/*  group page */
   	.field-name-field-main-picture img{width:50%;height:50%;}
   	    
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (max-width: 479px) {

    .wrapper, #footer, .footer-buttom, .one-two, .one-three,
    .one-four, #footer .one-three, .features div,.breadcrumbs, 
    #page-nav, #page.alignleft,#page.alignright, #sidebar,
    #page .one-two, #page .one-three, #page .one-four, .newsletters div,
    .about-work div, .team div{width: 288px;} 
    
    .width{width: 288px;}    


		/* front page slider */
		.view-front-slider{display:none;}     
  
		/* Yanlai Page */
		#yanlaiwu div.report.odd .summary{width:100%;}
		#yanlaiwu div.report.even .summary{width:100%;}

    #logo, #social, #menu-bar-wrapper, .footer-buttom p, #footer-menu,
    #page.alignleft, #page.alignright, #sidebar, #breadcrumbs-nav{float: none;}
    
    #slider .slides div, .avatar, .related-post{display: none !important;}
    
    #logo, .newsletters div, .about-work > div, .team > div,
    .breadcrumbs h2, .m-bottom, .pricing-box{margin-bottom: 30px;}
    
    #logo, #block-jump-menu-jump-menu-main-menu, .divider.mob, .clear.mob{display: block;}
    
    #social, #footer-menu{display: inline-block;}
    
    #footer .one-three, #footer .one-four, #page{margin-bottom: 40px;}
    
    #footer .last, .about-work > div:last-of-type, .team > div:last-of-type,
    .m-bottom.last, #newsletters img{margin-bottom: 0;}
    
    .hide{display: block;}
    a{font-size:14px;}
    
    #newsletters img {width: 35%;}
    
    body{font-size:12px;}
    body.one-sidebar #page{width:288px;}
    .node-group-page{width:288px;}
    
    /* header */
    #header{
        text-align: center;
        height: auto;
    }
    body.front #content{padding:30px;}
    
    /* welcome */
    .welcome h1{
        font-size: 24px;
        line-height: 24px;
    }
    
    
    /* menu */
    /*
    #block-superfish-1{
        padding-top: 0;
        display: none;
    }
    #block-jump-menu-jump-menu-m-main-menu{
		display:block;
        width: 238px;
        padding: 5px;
        margin: 0 auto;
        background-color: #f9f9f9;
        border: 1px solid #f2f2f2;
    }*/
    
    
    #menu-bar-wrapper{width:288px;}
	#menu-bar-wrapper ul#superfish-1{background: transparent url(../images/bg/main-menu-bg.png) repeat left top;}
    #menu-bar-wrapper ul#superfish-1 li{width:50%;height:46px;}
    #menu-bar-wrapper ul#superfish-1 li.odd{background:none;}
    #menu-bar-wrapper ul#superfish-1 li.even{background: transparent url(../images/bg/main-menu-seperator.png) no-repeat left center;}
    #menu-bar-wrapper ul#superfish-1 li a {text-align:center;color: #fff;font-size:12px;
	font-family: 'Arial',sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	padding: 14px;}
    #menu-bar-wrapper .sf-menu li a.active{background: none; color:#333;}
	#menu-bar-wrapper .sf-menu li.active-trail{background: none;}
	#menu-bar-wrapper .sf-menu li.active-trai a{color:#333;}	
	
	  
    /* social */
    #social li{margin-left: 9px;}
    #social li:first-of-type{margin-left: 0;}
    
    /* features */
    .features div{
        margin-right: 0;
        padding-right: 0;
        border-right: none;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px dashed #E5E5E5;
    }
    .features div.last{
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
    
   
    body.front .views-field-field-poster{margin-right:50px;margin-bottom:15px;}
    .views-field-title a{font-size:18px;}
    
    /* clients */    
    #client-logo li{width: 33%;}
    
    
    /* footer */
    #footer .last{margin-bottom: 0px !important;}
    #footer .flickr{width: 250px;}
    #footer #search input[type="text"]{width:238px;}
    .footer-buttom {text-align: center; padding-bottom: 15px;}
    .footer-buttom p{margin-bottom: 0; padding-bottom: 5px;} 
    #footer-menu li{padding:0;} 
    #footer .flickr li, 
    #footer .flickr img{width: 57px;}
    
    #block-menu-menu-footer ul.menu li a{font-size:12px;}
    #block-menu-menu-footer ul.menu li {width:174px;border-left:0;}
    #block-menu-menu-footer ul.menu li a.active{color:#fff;}
	#block-menu-menu-footer ul.menu li.active-trail{background: none;}
	#block-menu-menu-footer ul.menu li.active-trai a{color:#fff;}	

    
    /* latest blog */
    .latest-blog{width: 258px !important;}
    .latest-blog div {width: 258px !important;}
    .latest-blog div:nth-last-child(-n+2){margin-bottom: 22px;}
    .latest-blog div:last-of-type{margin-bottom: 0;}
    
    
    /* latest work */
    #latest-work li, #latest-work2 li{width: 254px !important;}

    
    /* gallery */
    .gallery li{width: 124px;} 
    
    
    /* google map */
    .map {
        width: 348px;
        height: 200px;
    }

    
    /* contatc form & comment form */
    #form-contact,
    .comments-form{width: 248px;}
    #form-contact .left,
    .comments-form .left{
        float: none;
        width: 248px;
        margin-right: 0;
    }
    #form-contact .left input,
    .comments-form .left input{width: 248px; }
    #form-contact textarea,
    .comments-form textarea{
        width: 248px !important;
        height: 140px !important;
    } 
    
    /* video */
    .video iframe{width: 248px; height: 200px;}
    
      
     /* portfolio */   
    .views-quicksand-container div.views-row.views-quicksand-tri, .views-quicksand-container div.views-row.views-quicksand-dva,
    .portfolio3.no-sidebar, .portfolio2.no-sidebar{width: 258px;}
    .views-quicksand-container div.views-row.views-quicksand, .views-quicksand-container div.views-row.views-quicksand-dva, .views-quicksand-container div.views-row.views-quicksand-tri,
    .no-sidebar.portfolio1 li, .no-sidebar.portfolio2 li,
    .no-sidebar.portfolio3 li{width: 258px; margin-bottom: 30px; float: none;}
    
    
    /* comments */
    #comments div {margin-left:0px;}

    
    /* tab */
    .tab .latest-blog div:nth-last-child(-n+2){margin-bottom: 22px !important;}
    .tab .latest-blog div:last-of-type{margin-bottom: 0 !important;}
    
    .s-tab .tab-sidebar li {margin-right: 5px;}

    /* testimonial */
    #testimonial div.border-img { margin-bottom: 3px;}

	/* about page */
	#block-block-10 ul li {width:134px;height:134px;padding:0;margin:0;}
    #block-block-10 ul li img{width:134px;height:134px;}
    #block-views-our-teachers-block .views-field-field-teacher-image img{width:80px;height:80px;}

}
